{% extends 'profile/base.html' %}
{% load widget_tweaks static bootstrap5 %}


{% block titulo %}
Feed | {{ block.super }}
{% endblock titulo %}

{% block css %}


{% endblock css %}


{% block main %}

<div class="pagetitle">
    <h1>Feed de Postagens</h1>
    <!-- <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Feed</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav> -->
  </div>

<section class="section dashboard">
    <div class="col-lg-8">

    </div>

    <div class="col-lg-4">

    </div>

</section>



{% endblock main %}