{% extends 'profile/base.html' %}
{% load widget_tweaks static bootstrap5 %}


{% block titulo %}
Meu Perfil | {{ block.super }}
{% endblock titulo %}

{% block css %}


{% endblock css %}


{% block main %}



<div class="pagetitle">
    <h1>Meu Perfil</h1>
</div>

<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            {% if usuario.avatar %}
            <img src="{{ usuario.avatar.url }}" alt="Profile" class="rounded-circle">
            {% else %}
            <img src="{% static 'assets/img/dashboard/usuario.png' %}" alt="Profile" class="rounded-circle">
            {% endif %}
            <h2>{{ usuario.nome }}</h2>
            <h3>{{ usuario.profissao }}</h3>
            <div class="social-links mt-2">
              <a href="{{usuario.perfil_twitterx}}" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="{{usuario.perfil_facebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="{{usuario.perfil_instagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="{{usuario.perfil_linkedin}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Meu Perfil</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Informações</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#editar-documentos">Editar Documentos</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#editar-enderecos">Editar Endereços</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#editar-redes-sociais">Editar Redes Sociais</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Sobre</h5>
                <p class="small fst-italic">{{ usuario.descricao }}</p>

                <h5 class="card-title">Detalhes</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nome Completo</div>
                  <div class="col-lg-9 col-md-8">{{ usuario.nome }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Profissão</div>
                  <div class="col-lg-9 col-md-8">{{ usuario.profissao }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Nacionalidade</div>
                  <div class="col-lg-9 col-md-8">{{ usuario.nacionalidade }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Cidade/UF</div>
                  <div class="col-lg-9 col-md-8">{{ usuario.cidade }}/{{ usuario.uf}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Telefone</div>
                  <div class="col-lg-9 col-md-8">{{ usuario.telefone }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ usuario.email }}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="{{ formpessoal.avatar.id_for_label }}" class="col-md-4 col-lg-3 col-form-label formpessoal.label">{{ formpessoal.avatar.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      {% render_field formpessoal.avatar class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formpessoal.nome.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formpessoal.nome.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      <!-- <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson"> -->
                      {% render_field formpessoal.nome class="form-control" type="text" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formpessoal.descricao.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formpessoal.descricao.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      <!-- <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea> -->
                      {% render_field formpessoal.descricao class="form-control" type="text" style="height: 100px" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formpessoal.profissao.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formpessoal.profissao.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      <!-- <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke"> -->
                      {% render_field formpessoal.profissao class="form-control" type="text" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formpessoal.sexo.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formpessoal.sexo.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      <!-- <input name="job" type="text" class="form-control" id="Job" value="Web Designer"> -->
                      {% render_field formpessoal.sexo class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formpessoal.telefone.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formpessoal.telefone.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      <!-- <input name="country" type="text" class="form-control" id="Country" value="USA"> -->
                      {% render_field formpessoal.telefone class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formpessoal.email.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formpessoal.email.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      <!-- <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022"> -->
                      {% render_field formpessoal.email class="form-control" type="email" %}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
                </form>

              </div>

              <div class="tab-pane fade pt-3" id="editar-documentos">

  
                <form method="post">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="{{ formdocs.cpf.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formdocs.cpf.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formdocs.cpf class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formdocs.rg.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formdocs.rg.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formdocs.rg class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formdocs.orgao_expedidor.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formdocs.orgao_expedidor.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formdocs.orgao_expedidor class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formdocs.nacionalidade.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formdocs.nacionalidade.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formdocs.nacionalidade class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formdocs.data_nascimento.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formdocs.data_nascimento.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formdocs.data_nascimento class="form-control" type="date" %}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
                </form><!-- End settings Form -->

              </div>

              <div class="tab-pane fade pt-3" id="editar-enderecos">
                <!-- Change Password Form -->
                <form method="post">
                  {% csrf_token %}

                  <div class="row mb-3">
                    <label for="{{ formsenderecos.cep.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsenderecos.cep.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsenderecos.cep class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsenderecos.uf.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsenderecos.uf.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsenderecos.uf class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsenderecos.cidade.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsenderecos.cidade.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsenderecos.cidade class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsenderecos.endereco.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsenderecos.endereco.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsenderecos.endereco class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsenderecos.bairro.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsenderecos.bairro.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsenderecos.bairro class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ numero.bairro.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ numero.bairro.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field numero.bairro class="form-control" %}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
                </form>

              </div>

              <div class="tab-pane fade pt-3" id="editar-redes-sociais">


                <form method="post">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="{{ formsredes.perfil_instagram.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsredes.perfil_instagram.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsredes.perfil_instagram class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsredes.perfil_twitterx.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsredes.perfil_twitterx.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsredes.perfil_twitterx class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsredes.perfil_facebook.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsredes.perfil_facebook.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsredes.perfil_facebook class="form-control" %}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="{{ formsredes.perfil_linkedin.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ formsredes.perfil_linkedin.label }}</label>
                    <div class="col-md-8 col-lg-9">                      
                      {% render_field formsredes.perfil_linkedin class="form-control" %}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
                </form>

              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </section>




{% endblock main %}