{% extends 'admin/dashboard.html' %}
{% load widget_tweaks static bootstrap5 %}


{% block titulo %}
Listar Areas | {{ block.super }}
{% endblock titulo %}

{% block css %}


{% endblock css %}


{% block main %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Todos os Segmentos</h5>
        <!-- <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p> -->
        <!-- Bordered Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" colspan='2'>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for area in areas %}
                <tr>
                    <th scope="row">{{ area.codigo }}</th>
                    <td>{{ area.nome }}</td>
                    <td>{{ area.observacoes }}</td>
                    <td><a href="{% url 'atualizar_area' area.id %}"><button type="button" class="btn btn-success"><i class="bi bi-arrow-clockwise"></i></button></a>
                    </td>
                    <td><a href="#"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletarArea"><i class="bi bi-trash"></i></button></td></a>
                </tr>

                <div class="modal fade" id="deletarArea" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Confirmar Exclusão</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Você deseja mesmo excluir a área de segmento chamada "{{ area.nome }}"?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                          <a href="{% url 'deletar_area' area.id %}"><button type="button" class="btn btn-danger">Apagar</button></a>
                        </div>
                      </div>
                    </div>
                  </div>



                {% endfor %}
            </tbody>
        </table>


    </div>
</div>


{% endblock main %}